<div class="row py-4">
  <div class="col">
    <h2>All Group Reservations</h2>
    <%= link_to "New Group Reservatons", new_group_tour_reservation_path, class: "btn btn-primary" %>
    <hr />
    <table class="table">
      <tr>
        <thead>
          <th>Name</th>
          <th>DATE</th>
          <th>GUIDE</th>
          <th>GUIDE PAY</th>
          <th>VEHICLE</th>
          <th>VEHICLE PAY</th>
          <th>Actions</th>
        </thead>
      </tr>
      <%= render @group_tour_reservations %>
    </table>

    <% if @group_tour_reservations.empty? %>
        <p>There are no <strong>Tours</strong> yet</p>
    <% end %>
  </div>
</div>
