  <% if @tour.errors.any? %>
    <div class="alert alert-danger">
      <p>Please correct the following <%= pluralize(@tour.errors.count, "error") %>:</p>
      <ul>
        <% @tour.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
