
<div class="row">
  <div class="col">
    <h1 class="text-center">All Tours</h1>
    <hr />
    <%= link_to "New Tour Reservation", new_tour_reservation_path, class: "btn  btn-primary mb-3 btn-block" %>
    <table class="table">
      <%= paginate @tours %>
      <tr>
        <thead>
          <th>Name</th>
          <th>AD 1</th>
          <th>CH 1</th>
          <th>AD 2</th>
          <th>CH 2</th>
          <th>ADD CHG</th>
          <th>Actions</th>
        </thead>
      </tr>
      <%= render @tours %>
    </table>

    <% if @tours.empty? %>
        <p>There are no <strong>Tours</strong> yet</p>
    <% end %>

    <%= paginate @tours %>
  </div>
</div>
<br />

