
<div class="row">
  <div class="col col-md-1">

  </div>
  <div class="col">
  <h1 class="text-center">Tour Reservations</h1>
  <hr />
  <%= link_to "New Single Reservation", new_tour_reservation_path, class: "btn btn-primary mb-3 btn-block" %>
  <%= paginate @t_reservations %>

  <table class="table">
    <tr>
      <thead>
        <th>DATE</th>
        <th>TOUR</th>
        <th>HOTEL</th>
        <th>PICK UP</th>
        <th>VOUCHER</th>
        <th>MOBILE</th>
        <th>AGENT</th>
        <th>ACTIONS</th>
      </thead>
    </tr>
    <%= render @t_reservations %>
  </table>

  <% if @t_reservations.empty? %>
      <p>There are no <strong>Tour Reservations</strong> yet</p>
  <% end %>

  <%= paginate @t_reservations %>
  </div>
</div>



